*{
    font-family: Arial, Helvetica, sans-serif;
}

span{
	color:red;
	font-size:9px;
}
h2{
	color:blue;
	text-align: center;
	border-radius:10px;
	box-shadow: 5px 5px 15px  #2A3F55;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin:auto;
	width:30%;
	margin-bottom: 10px;
	background: -webkit-linear-gradient(top, #cedce7 0%,#a1bac4 100%);
}
h1{
	font-size: 40px;
}
table{
	border-spacing: 10px 20px;
    border-collapse: separate;
	margin:auto;
	border-radius:10px;
	box-shadow: 5px 5px 15px  #2A3F55;
	background: -webkit-linear-gradient(top, #cedce7 0%,#a1bac4 100%);
}
.td1 {
	text-align: right;
    width: 80px;
}
td{
	margin:20px;
}
#menu{
	border-radius:10px;
	box-shadow: 5px 5px 15px  #2A3F55;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin:auto;
	width:950px;
	margin-bottom: 10px;
	background: -webkit-linear-gradient(top, #cedce7 0%,#a1bac4 100%);
}

.botonm{
	font-size: 14px;
	font-weight: bold;
	border-radius:20px;
	width:181px;
	box-shadow: 5px 5px 5px #2A3F55;
	background: -webkit-linear-gradient(top, #5555aa 0%,#a1baff 100%);
	margin:2px;
	padding:10px;
	
}
.botonactivo{
	font-size: 14px;
	font-weight: bold;
	border-radius:20px;
	width:181px;
	background:#500097;
	box-shadow: none;
	color: #FFFFFF;
	margin:2px;
	padding:10px;
}

.botonm:hover {
	background:#2A1FFF;
	color:#FFFBF0;
}
.botonm:active{
	background:#500097;
	box-shadow: 0px 0px 0px;
}

 .campo,.campol{
 	font-family: Calibri, Arial;
 	font-size: 14px;
 	font-weight: bold;
 	width: 280px;
 	color: navy;
 	border-radius:8px;
 	margin: 5px;
 	background-color: #ddddff;
 	padding: 5px;
 	border-style: inset;
 	border-width: 2px;
 	border-color: white;
 }
 .campol{
 	width: 700px;
 }
 .campo:focus,.campol:focus{
 	color: #FFFFFF;
 	background-color: navy;
 }

 img{
 	margin:auto;
 }
.contenedor{
    position: relative;
    margin: auto;
    width: 40%;
    text-align: center;
    transition: all 0.5s linear;
}

.imagen{
    width: 100%;
    box-shadow: 10px 10px 10px rgb(80, 80, 80);
    border-radius: 20px 20px 20px 20px;
}
.titulo{
    position: absolute;
    top:0;
    left:1%;
    color:rgb(255, 255, 255);
    -webkit-text-stroke: 0.5px rgb(70, 123, 255);
    text-shadow: 2px 2px 1px black;
    font-weight: bold;
}
#listas{
	display:none;
}
h1{
    text-align: center;
    color:rgb(77, 77, 240);
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    text-shadow: 2px 2px 1px black;
    font-weight: bold;
}

.botones{
    position:relative;
    top:-30px;
    width: 100%;
}
#mensaje{
	display:none;
}
